.About{
  ul{
    list-style-type: none;
    padding: 0;
    color: #000;
    .bodyText{
      font-size: 20px;
      color: #a7a7a7;
      line-height: 1.5em;
    }
  }
  .section1{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    h1{
      color: #000;
      margin-top:140px;
    }
    .sectionCover{
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .bgWhite{
    background-color: #fff;
  }
  .marginTop{
    margin-top: 100px;
  }
  .imgContainer{
    width: 100%;
    display: flex;
    .img1{
      flex: 1;
      width: 36vw;
      background-image: url(../resource/image/about1.jpg);
      background-position: center;
      background-size:cover;
      margin-right: 8px;
    }
    .img2{
      flex: 1;
      width: 36vw;
      margin-left: 8px;
      height: 40vw;
      background-image: url(../resource/image/about2.jpg);
      background-size:cover;
      background-position: center;
    }
  }
  .videoSize{
    position: relative;
    margin-top: 1080px;
    height: 640px;
    overflow: hidden;
    #videoOverlay{
      background-color: rgba(0, 0, 0, 0.65);
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      .playBtn{
        color: blue;
        font-size: 40px;
        z-index: 100;
      }
    }
    .videoLayer {
      height: 640px;
      width: 100%;
      overflow: hidden;
      video {
        // min-width: 100%;
        // min-height: 100%;
        min-height: 100%;
        min-width: 100%;
      }
    }
  }
  .section3{
    display: flex;
    h1, p{
      color: #000;
      width: 50%;
      margin-top: 0;
    }
  }
  .serviceContent{
    float: left;
    width: 300px;
  }
  .section4{
    clear: both;
    .marginTop{
      padding-top: 200px;
    }
  }
  .gallery{
    clear: both;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .top{
      vertical-align: baseline;
      transform: translate3d(-100px, 0, 0);
    }
    .bottom{
      vertical-align: baseline;
      transform: translate3d(-400px, 0, 0);
    }
    .imgList{
      height: 300px;
      width: 120vw;
      display: flex;
      padding: 8px;

      .image{
        margin: 0 8px;
        display: inline-block;
        width: 40vw;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      .image1{
        background-image: url(../resource/image/image1.jpg);
      }
      .image2{
        background-image: url(../resource/image/image2.jpg);
      }
      .image3{
        background-image: url(../resource/image/image3.jpg);
      }
      .image4{
        background-image: url(../resource/image/image4.jpg);
      }
      .image5{
        background-image: url(../resource/image/image5.jpg);
      }
      .image6{
        background-image: url(../resource/image/image6.jpg);
      }
      .image7{
        background-image: url(../resource/image/image7.jpg);
      }
    }
    }
  .personalFootage{
    margin-top: 300px;
    margin-bottom: 520px;
    .footageContents{
      float: left;
      width: 300px;
    }
  }
}