.About{
  ul{
    list-style-type: none;
    padding: 0;
    color: #000;
    .bodyText{
      font-size: 16px;
      color: #a7a7a7;
      line-height: 1.5em;
    }
  }
  .section1{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -10;
    overflow: hidden;
    h1{
      color: #000;
      margin-top:140px;
      margin-bottom: 60px;
    }
    .sectionCover{
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  .bgWhite{
    background-color: #fff;
  }
  .marginTop{
    margin-top: 100px;
  }
  .imgContainer{
    width: 100%;
    height: 670px;
    display: flex;
    .img1{
      flex: 1;
      width: 36vw;
      background-image: url(../resource/image/about1.jpg);
      background-position: center;
      background-size:cover;
      margin-right: 8px;
    }
    .img2{
      flex: 1;
      width: 36vw;
      margin-left: 8px;
      background-image: url(../resource/image/about2.jpg);
      background-size:cover;
      background-position: center;
    }
  }
  .videoPlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    margin: 0 auto;
    #videoContainer{
      z-index: 9;
      width: 80%;
      height: 50%;
      position: absolute;
      top: 35%;
      left: 50%;
      transform:translate3d(-50%,-50%,0px);
    }
    #player{
      pointer-events: none;
      width: 100%;
      height: 100%;
    }
    #stopVideo{
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      left: 0;
      z-index: 0;
    }
  }
  .videoSize{
    position: relative;
    margin-top: 1080px;
    height: 640px;
    overflow: hidden;
    #videoOverlay{
      background-color: rgba(0, 0, 0, 0.65);
      width: 100%;
      height: 100%;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 1;
      .playBtn{
        color: blue;
        font-size: 40px;
        z-index: 100;
        cursor: pointer;
      }
    }
    .videoLayer {
      height: 640px;
      width: 100%;
      overflow: hidden;
      position: relative;
      video {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        min-height: 100%;
        min-width: 100%;
      }
    }
  }
  .section3{
    display: flex;
    h1, p{
      color: #000;
      width: 50%;
      margin-top: 0;
    }
  }
  .serviceContent{
    float: left;
    width: 300px;
  }
  .section4{
    clear: both;
    .marginTop{
      padding-top: 200px;
    }
  }
  .gallery{
    clear: both;
    width: 100vw;
    overflow: hidden;
    position: relative;
    .top{
      vertical-align: baseline;
      transform: translate3d(-100px, 0, 0);
    }
    .bottom{
      vertical-align: baseline;
      transform: translate3d(-400px, 0, 0);
    }
    .imgList{
      height: 300px;
      width: 120vw;
      display: flex;
      padding: 8px;

      .image{
        margin: 0 8px;
        display: inline-block;
        width: 40vw;
        height: 100%;
        background-size: cover;
        background-position: center;
      }
      .image1{
        background-image: url(../resource/image/image1.jpg);
      }
      .image2{
        background-image: url(../resource/image/image2.jpg);
      }
      .image3{
        background-image: url(../resource/image/image3.jpg);
      }
      .image4{
        background-image: url(../resource/image/image4.jpg);
      }
      .image5{
        background-image: url(../resource/image/image5.jpg);
      }
      .image6{
        background-image: url(../resource/image/image6.jpg);
      }
      .image7{
        background-image: url(../resource/image/image7.jpg);
      }
    }
    }
  .personalFootage{
    margin-top: 300px;
    margin-bottom: 320px;
    .footageContents{
      float: left;
      width: 300px;
    }
  }
  .client{
    text-align: center;
    margin-bottom: 250px;
    p{
      width: 40%;
      margin: 0 auto;
    }
    .row{
      display: block;
      width: 50%;
      height: 200px;
    }
    .logos{
      display: flex;
      position: absolute;
      margin-top: 80px;
      left: 50%;
      transform: translateX(-50%);
    }
    .clientImg{
      margin: 16px;
      width: 15vw;
      height: 8vh;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
    .logo1{
      background-image: url(../resource/image/logo1.png);
    }
    .logo2{
      background-image: url(../resource/image/logo2.png);
    }
    .logo3{
      background-image: url(../resource/image/logo3.png);
    }
    .logo4{
      background-image: url(../resource/image/logo4.png);
    }
    .logo5{
      background-image: url(../resource/image/logo5.png);
    }
  }
}