$myColor: #c032ca;
.Main {
  #curatedVideoContainer {
    display: none;
    position: fixed;
    width: 640px;
    height: 340px;
    z-index: 3;

    .animationSetting{
      position: absolute;
      top: 0px;
      left: 0px;
    }
    #secondAbsoluteVideoContainer{
      opacity: 0;
    }
    .videoContainer {
      height: 100% !important;
    }
    .videoHoverContainer {
      height: 100% !important;
    }
    #curated-informationContainer {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0px;
      left: 0px;
      color: white;
      #curated-information-textContainer {
        position: absolute;
        bottom: 260px;
        left: 64px;
      }
      #curated-information-text-title {
        position: absolute;
        bottom: 290px;
        left: 64px;
        font-size: 40px;
        opacity: 0;
      }
      #curated-information-text-location {
        position: absolute;
        bottom: 260px;
        left: 64px;
        font-size: 19.5px;
        opacity: 0;
      }
      #curated-buyButton {
        position: absolute;
        width: 220px;
        height: 80px;
        background: black;
        opacity: 0;
        bottom: 90px;
        left: 64px;
        cursor: pointer;
        p {
          text-align: center;
          line-height: 80px;
          margin: 0px;
          font-size: 20px;
        }
      }
      #curated-X {
        position: absolute;
        top: 64px;
        right: 64px;
        cursor: pointer;
        img {
          width: 30px;
          height: 30px;
        }
        opacity: 0.8;
      }
      #curated-paging {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transform: rotate(-90deg);
        right: 64px;
        opacity: 0.8;
        font-size: 19px;
      }
      #curated-information-buttonContainer {
        position: absolute;
        bottom: 90px;
        right: 64px;
        :first-child {
          margin-right: 40px;
        }
        img {
          width: 20px;
          cursor: pointer;
        }
      }
    }
  }
  .videoContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    video {
      min-width: 100%;
      min-height: 100%;
    }
  }
  #mainVideo{
    object-fit: cover;
  }
  #mainContainer {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 60px;
    font-size: 24px;
  }
  .videoHoverContainer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 340px;
    display: none;
    cursor: pointer;
  }
  .videoHover-background {
    position: absolute;
    left: 0px;
    top: 0px;
    background: #000000;
    opacity: 0.5;
    width: 100%;
    height: 100%;
  }
  .videoHover-textContainer {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 24px;
  }
  .informationContainer {
    margin-top: 20px;
  }
  .information-firstLine {
    display: flex;
  }
  .informationSubText {
    font-size: 15px;
    color: #898888;
  }
}